dl_experiments/data/embeddings.zip
dl_experiments/data/final_dataset
dl_experiments/data/jec_ufsc
dl_experiments/data/embeddings
dl_experiments/evaluation/__pycache__/
dl_experiments/models/__pycache__/
dl_experiments/utils/__pycache__/
dl_experiments/pre_processing/__pycache__/
.idea/